@import url('https://fonts.googleapis.com/css?family=Rokkitt:300,400,500');
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Rokkitt;
	font-size: 16px;
}


.wrapper{
	width: 80%;
	margin: auto;
	max-width: 1200px;
}

/*end common section*/


header{
	background-color: #364F88;
	opacity: .9;
	box-sizing: border-box;
	width: 100%;
	height: 80px;
	overflow: hidden;
	top: 0;
	z-index: 3;
	position: sticky;
}

.logo{
	float: left;
	background-image: url(img/logosv.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 145px;
	height: 54px;
	transition: transform .5s;
	margin: 1% 0 1% 10%;
	
}

.logo:hover{
   -ms-transform: scale(0.7, 0.7) rotate(10deg); /* IE 9 */
   -webkit-transform: scale(0.7, 0.7) rotate(10deg); /* Safari */
	transform: scale(0.7, 0.7) rotate(10deg);
}
nav{
	float: right;
	margin: 2.2% 10% 2.2% 0;
}

nav ul li{
	list-style: none;
	float: left;
	margin-left: 40px;
}

nav ul li a{
	text-decoration: none;
	font-size: 130%;
	color: #ffffff;
} 

nav ul li a:hover{
	text-decoration: underline;
	color: #FFBB9E;
} 

/*end of nav*/


section:after{
	content: "";
	display: block;
	clear: both;
}

section{
	margin: 5% 0 8% 0;
}

section h1{
	margin: 2% 0 2%;
	font-size: 400%;
	font-weight: 400;
	box-sizing: border-box;
    border-bottom: 10px solid #85BCF5;
    padding-bottom: 0;
    line-height: 70%;
    text-align: right;
    display: inline-block;
    /*
    --color: #85BCF5;
    background-image: linear-gradient(var(--color) 0%, var(--color) 100%);
    background-repeat: repeat-x;
    background-position: 0 .9em;
    background-size: 2px 14px;
    text-align: right;*/
}


section div.container img{
	width: 33.33333%;
	float: left;
	box-sizing: border-box;
	border: 2px solid transparent;
	transition: opacity .5s;
}

section div.container img:hover{
	opacity: .7;
}

/*end of gallery section*/

footer{
	background-color: #364F88;
	color: #ffffff;
	text-align: center;
	padding: 10px 10px 30px;
	box-sizing: border-box;
	overflow: hidden;
}

.logo_footer{
	float: none;
	margin: 10px auto 10px;
	width: 110px;
	height: 41px;
}
/*end of the world :)  */


/* Responsive phone breakpoint*/

@media only screen and (max-width:767px) {

	.wrapper{
		width: 96%;
	}

	header{
		overflow: visible;
	}

	.logo{
		margin-left: 3%;
		margin-top: 4%
	}

	#mobile_menu{
		background-image: url(img/mobile_menu.svg);
		background-repeat: no-repeat;
		width: 40px;
		height: 30px;
		position: absolute;
		top: 28%;
    	right: 5%;
    	z-index: 100;
	}

	nav ul{
		display: none;
		position: absolute;
		right: 0%;
		top: 0%;
		background-color: #364F88;
		padding: 14% 7% 10% 7%;
		width: 200px;
		z-index: 10;
		text-align: center;
		cursor: pointer;
	}	

	nav:hover ul{
		display: block;
	}

	nav ul li{
		width: 100%;
		margin: 8% auto;
	}

	nav ul li a{
		font-size: 200%;
	}

	section div.container img{
		width: 100%;
		float: none;
		height: auto;
		display: block;
	}

	section h1{
		margin: 20px 0; 
	}

	.logo_footer{
		text-align: center;
		margin: 1% auto 2%;
	}

}

/* Responsive tablet breakpoint*/

@media only screen and (min-width:768px) and (max-width:1024px) {

.wrapper{
		width: 96%;
	}

	.logo{
		margin-left: 3%;
		margin-top: 2%
	}

	nav{
	margin: 3% 10% 3% 0;
}


	}








